/* ARCHIVO CSS EXTERNO linkeado a Index.html */
h2{
    font-size: 35px;
    background-color: rgb(0, 245, 12);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}



table{
    font-size: 35px;
    background-color: rgb(29, 13, 252);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}


div{
    color: black;
    background-color: black;
}

div p {/* estilo solo para cualquier cualquier parrafo dentro de algun div*/
    font-size: 40px;
        color: blueviolet;}

/*colocar estilo ttamaño 30px solo para input que nestan dentro de algun label*/
label{font-size: 25px;}

input{font-size: 30px;
      color: silver;}




























