
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            
        }
        header, nav, main, aside, footer {
            padding: 20px;
            margin: 10px;
        }
        header {
            background-color: #4CAF50;
            color: white;
        }
        nav {
            background-color: #333;
            color: white;
        }
        nav a {
            color: white;
            margin-right: 15px;
            text-decoration: none;
        }
        main {
            display: flex; /*flexible para evitar superposicionamiento*/
        }
        section {
            flex: 2;
            background-color: #b92b2b;
            padding: 10px;
            border: 10px solid black;
            margin: 10px;
        }
        aside {
            flex: 0;
            background-color: #99a7d6;
            padding: 1%;
            height: 250px;
            max-width: 150px;
            flex-direction: column;
        }
        footer {
            background-color: #222;
            color: white;
            text-align: center;
        }
        article {
            background-color: #d1dfa1;
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #cccccc;
        }
        .contenedor {
            max-width: 1800px;
            margin: auto;
        }

         .margen_imagen {
            margin-right: 20px;
         }
        .aside_imagenes { background-color: white;}
            

        .color_link {
            color: green;
        }


        .color_link:hover {
            color: rgb(37, 15, 235) ;
            background-color: rgb(226, 230, 15);
        }
        .a:link{
            background-color: gold;
            color: rgb(241, 13, 13);
        }

         .primera_letra {
            color: darkblue;
            font-size: 1.5em;
            font-family: Arial, Helvetica, sans-serif;
         }

        .primera_letra::first-letter {
            color: rgb(207, 18, 18);
            font-size: 1.5em;
            font-family: Arial, Helvetica, sans-serif;
        }

       .clase_Static{
        font-size: 20px;
        background-color: #b92b2b;
        position: static;
        margin-top: 20px;
        margin-left: 80px;
        margin-right: 200px;
       }

       .clase_Static2{
        font-size: 20px;
        background-color: #99a7d6;
        position: static;
        top: 20px;
        left: 80px;
        right: 200px;
       }
        

        .clase_Relative{
            font-size: 20px;
            background-color: #b92b2b;
            height: 250px;
            width: 200px;
        }


        .clase_Relative:hover {
            position: relative;
            top: 100px;
            left: 100px;
            
        }

        .clase_relative_index{
            font-size: 20px;
            background-color: #99a7d6;
            height: 250px;
            width: 200px;
        }
        .clase_relative_index:hover{
            position: relative;
            top: 100px;
            left: 100px;
            z-index: +10;
        }

         .clase_Absolute {
            font-size: 20px;
            background-color: #b92b2b;
            height: 138px;
            width: 200;
            position: absolute;
            top: 10px;
            left: 700px;
            z-index: +10;
         }


         .clase_Relative2 {
            font-size: 20px;
            background-color: #b92b2b;
            height: 250px;
            width: 200px;
            position: relative;

         }
         .clase_AbsoluteRelative {
            font-size: 20px;
            background-color: #b92b2b;
            height: 200px;
            width: 150px;
            position: absolute;
            bottom: 0px;
            left: 900px;
            z-index: +5;
         }


         .class_Fixed {
            height: 1300px;
            width: 1000px;
            position: fixed;
            left: 150px;
            bottom: 0px;
            z-index: +5;
         }
         .marcaagua {
         
            opacity: 0.3;
            pointer-events: none;
            z-index: 999;
         }
         
         .clase_Sticky {
            position: sticky;
            font-size: 40px;
            top: 0px;
            left: 40px;
            height: 300px;
         }

       .class_float_right2 {
        float: left;
        background-color: #d1dfa1;
        margin: 5px;
       }


    .tipoinlineblock {
        background-color: #4CAF50;
        font-size: 30px;
        margin: 10px;
        color: azure;
        display: inline-block;
        width: 500px;
    }


     .enlinea {
        background-color: aliceblue;
        display: inline;
        font-size: 30px;
        margin: 2px;
        color: #333;
        width: 80px;
        height: 40px;
     }


     .tiponone {
        background-color: aqua;
        font-size: 20px;
        margin: 20px;
        color: #99a7d6;
        display: none;
     }
  

     .tipohidden {
        background-color: rgb(25, 0, 255);
        font-size: 20px;
        margin: 20px;
        color: aquamarine;
        visibility: hidden;
     }

    .tipoflex {
        display: flex;
        background-color: aqua;
        align-items: center;
        justify-content: space-between;
    }


    .contenedor-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columnas iguales */
        gap: 15px; /* Espacio entre celdas */
      }
      
      .item img {
           max-width: 100%; /* Para que no se desborde */
      }
      
      .item {
       display: flex;
        background-color: lightcoral;
        padding: 20px;
        text-align: center;
        border: 1px solid #333;
        font-size: 30px;
         justify-content: center;  /* Centrar horizontalmente */
        align-items: center;      /* Centrar verticalmente */
      }


      #Mivideo{
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%; /*Asegura que el video ocupe al menos todo el ancho de su contenedor */
        min-height: 100%; /*Asegura que el video ocupe al menos todo el alto de su contenedor */
        width: auto;
        height: auto;
        z-index: -1;
    
        background-size: cover; /*imagen de fondo cubra todo el contenedor,
                                 incluso si tienes que recortarla o agrandarla. */
        overflow: hidden; /*Oculta cualquier contenido que se salga del área visible del elemento */
    }

        .claseNav{
            background-color: #ec0e0e;
            font-size: 30px;
            padding-inline: 0px;
            color: #99a7d6;
            display: inline;
            list-style-type: none;
        }

        .claseNav:hover{
            background-color: aqua;
        }


        .claseNav ul {
            list-style-type: none;
            display: block;
            margin: 0px;
            padding: 0px;
        }

        .claseNav li a{
            text-decoration: none;
            padding: 6px 11px;
            display: block;
        }

        .claseNav >li{
            float: right;
        }
        .claseNav li ul{
            display: none;
            position: absolute;
            min-width: 140px;
        }


        .claseNav li:hover>ul {
            display: block;
        }




















